@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base colors */
:root {
  --bg: #171710;
  --text: #E3DAC9;
  --header: #1F3B1D;
  --amber: #FFBF00;
}

html, body, #__next {
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: 'DM Sans', 'Inter', ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, 'Apple Color Emoji','Segoe UI Emoji';
}
a { color: var(--amber); }

/* Terminal scrollbar */
.terminal-scroll::-webkit-scrollbar {
  width: 8px;
}

.terminal-scroll::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.08);
}

.terminal-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.70);
  border-radius: 4px;
}